:root {
    --bright-red: #FF5D6C;
    --peach: #FBCEB5;
    --rind-green: #DEFF8B;
    --dark-green: #8CBA51;
}
html, body {
    margin: 0;
    padding: 0;
    background-color: var(--rind-green);
    color: black;
    font-family: 'Space Grotesk', sans-serif;
    /* overflow: hidden; */
}

ul {
    list-style: none;
    margin: 0;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: clamp(220px, 25%, 270px) auto;
    grid-template-areas: "dashboard header""dashboard stuff";
    box-sizing: border-box;
    min-height: 100vh;
}

svg {
    width: 25px;
    height: 25px
}

/* sidebar */
.sidebar {
    background-color: black;
    color: white;
    grid-area: dashboard;
    display: grid;
    grid-template-rows: 80px min-content;
    gap: 20px;
    
}


.dashboard-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    justify-content: center;
    flex-flow: row wrap;
    /* background-color: red; */

}

.sidebar-top-menu ul{
    display: grid;
    gap: 10px;
    padding-bottom: 30px;
}



.icon-row {
    display: flex;
    gap: 15px;
}

/* header */
.header {
    background-color:white;
    grid-area: header;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "topbar""navbar";
    justify-content: start;
    align-items: start;
    margin: 0;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.top-header-bar {
    display: grid;
    grid-template-columns: 2fr auto;
    align-items: center;
    align-self: start;
    justify-content: space-between;
    grid-area: topbar;
    gap: 10%;
    padding: 10px 30px;
}

.search-bar {
    display: grid;
    grid-area: 1 / 1 / 2 / 2;
    grid-template-columns: 30px minmax(auto, 450px);
    align-items: center;

}

.icon img{
    width: 20px;
    height: 20px;
    position: relative;
    top:3px;


}

.search-text input{
    /* background-color: white; */
    border-radius: 20px;
    width: 100%;
    margin-left: 5px;
    padding: 4px 10px;
    border: 2px var(--bright-red) solid; 
    font-family: 'Space Grotesk', sans-serif;


}

.top-right {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    /* padding: 10px; */
    gap: 20px;
    /* background-color: brown; */
}

.profile-pic {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
}

#large {
    width: 50px;
    height: 50px;
}

.profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.nav-bar {
    display: grid;
    grid-template-columns: 50% auto 35%;
    /* grid-template-areas: "nav-left" "." "nav-right"; */
    grid-area: navbar;
    gap: 10px;
    padding: 15px 40px;

}

.nav-left {
    grid-column: 1;
    display: grid;
    grid-template-columns: [pfp] min-content [intro] auto;
    gap: 15px;
    align-items: center;
}

.intro {
    -ms-grid-columns: intro;
}

.nav-right {
    grid-column: 3;
    display: grid;
}

.upload-links {
    display: grid;
    grid-template-columns: [new] 1fr [upload] 1fr [share] 1fr;
    /* justify-items: center; */
    align-items: center;
    gap: 10px;

}

.button button {
    width: 100%;
    background-color: var(--bright-red);
    font-family: 'Space Grotesk', sans-serif;
    
}

.button button:hover {
    background-color: black;
    color: white;
}

/* stuff */
.stuff {
    grid-area: stuff;
    display: grid;
    grid-template-columns: [projects] 1fr [announce-check] auto;
    grid-template-rows: [announce] min-content [check] auto;
    grid-template-areas: "project announcements""project check";
    padding: 20px;
    gap: 20px;

}

.my-projects {
    grid-area: project;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(275px, 1fr);
    gap: 1.5rem;

}

.card {
    display: grid;
    border: 1px blueviolet solid;
    padding: 30px;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    background-color: var(--peach);
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */

}

.card:hover{
    box-shadow: 2px 2px 2px 1px #8CBA5190;
}

.card .description {
    display: grid;
    grid-template-rows: min-content auto;
    gap: 5px;
}



.card .clickables {
    justify-self: flex-end;

}

.card .clickables ul {
    display: flex;
    gap: 20px;
    padding: 5px 15px;
    
    background-color: black;
    border-radius: 20px;
    justify-content: space-around;    

}

.card .clickables ul li {
    /* border: 2px blueviolet solid; */
    justify-content: center;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px
}

.clickables img {
    width: 25px;
    height: 25px;
}

.clickables img:hover {
    width: 30px;
    height: 30px;
    /* -webkit-filter: drop-shadow(2px 2px var(--peach));
    filter: drop-shadow(2px 2px #ffc404); */
}
.announcements {
    grid-area: announcements;
}

.announcement-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: white;

}

.announcement {
    border: 2px blueviolet solid;
    padding: 30px;

}

.overflow {
    display: -webkit-box;
    max-width: 200px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

#long { 
    display: -webkit-box;
    max-height: 90px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.check-out {
    grid-area: check;

}

.check-container {
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    background-color: white;

}

.person {
    border: 2px blueviolet solid;
    padding: 30px;
    display: grid;
    grid-template-columns: [prof] min-content [tag] auto;
    align-items: center;
    column-gap: 10px;
}

.person .profile-pic {
    /* border: 2px blueviolet solid; */
    grid-column: prof;
}

.check-right {
    grid-column: tag;
    /* border: 2px blueviolet solid; */
    display: grid;
    align-items: start;
    grid-template-rows: min-content min-content;

}

h2 {
    font-size: 20px;
}

p { 
    font-size: 1em;
}
.stuff-title {
    font-size: 18px;
    padding-bottom: 10px;
}